@import "/home/chris/.cache/hyde/wallbash/gtk.css";

window#waybar {
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 10px 15px 0px 15px;
}

#pill-in {
    background-color: @theme_bg_color;
    border-radius: 15px;
    padding: 3px 12px;
    margin: 4px 0px 0px -1px;
    min-height: 20px;
}

#clock, #pulseaudio, #network, #battery, #custom-bat-icon  {
    font-family: "JetBrainsMono Nerd Font", "monospace";
    color: @theme_fg_color;
    font-weight: 700;
    padding: 0px 7px;
}

#network{
	margin: 0px 2px 0px 2px;
}

#custom-bat-icon {
	margin: 0px -4px 0px 5px;
}

#battery{
	margin-left: -8px;
}

#clock {
	margin-right: 7px;
}

#pulseaudio {
	margin-left: 5px;
}

/*  */
/* #network.disconnected { */
/*     font-size: 14px;  */
/* } */

#workspaces {
    border: none;
    margin: 0;
    padding: 0;
}

#workspaces button {
    margin: 3px 0px; 
    padding: 0;
    border: none;
    color: @theme_fg_color;
    opacity: 0.4;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    
    min-width: 45px;
    min-height: 14px;
}

#workspaces button label {
    padding: 0px; 
    font-weight: 800;
}

#workspaces button.active {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border-radius: 20px;
    opacity: 1.0;
    
    min-width: 45px;
    min-height: 14px;
}

#workspaces button.active label {
    padding: 0px;
}
